.hello{
  height: 500px;
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
}

@font-face {
  font-family: 'MyFont';
  src: url('./iconfont.ttf');
  font-weight: 600;
  font-style: normal;
}

